<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Imóveis</title>
</head>
<body>
<h1>Lista de Imóveis</h1>

<table border="1">
    <thead>
    <tr>
        <th>Descrição</th>
        <th>Tipo</th>
        <th>Corretor</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="imovel : ${imoveis}">
        <td th:text="${imovel.descricao}"></td>
        <td th:text="${imovel.tipo}"></td>
        <td th:text="${imovel.corretor.email}"></td>
    </tr>
    </tbody>
</table>

<br>
<a href="/imoveis/cadastrar">Cadastrar Novo Imóvel</a>
</body>
</html>
